
# Ignore specific file types globally
**/*.csv
#**/*.npy
**/*.tex
**/*.pdf
#**/*.json
data_scraping/udemy/courses/courses_scrape/courses_scrape/spiders/output.json
#data_scraping/udemy/courses/courses_scrape/courses_scrape/spiders/output.json
Tighba_gui/users.json

#models/recommendation_systems/final_Models
# Exception for a specific JSON file
#!models/combined_dataset.json


# Ignore directories and specific files
**/*jukit
**/__pycache__/
#!models/my_vect_model/
resources_for_recom/

