# Ignore specific file types globally
**/*.csv
**/*.npy
**/*.tex
**/*.pdf
**/*.json

models/recommendation_systems/final_Models
# Exception for a specific JSON file
!models/combined_dataset.json

#models/
!models/chatbot.py

# Ignore directories and specific files
**/*jukit
**/__pycache__/
models/my_vect_model/
resources_for_recom/

